<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4>Strony</h4>

                <ul>
                    <li><a href="text.html">O nas</a>
                    </li>
                    <li><a href="text.html">Warunki</a>
                    </li>
                    <li><a href="faq.html">FAQ</a>
                    </li>
                    <li><a href="contact">Kontakt</a>
                    </li>
                </ul>

                <hr>

                <h4>Panel wyboru</h4>

                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Zaloguj się</a>
                    </li>
                    <li><a href="/signup">Załóż konto</a>
                    </li>
                </ul>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Najpopularniejsze kategorie</h4>

                <li><a href="kolczyki">
                   <h5 data-toggle="modal" href="kolczyki"><%=categories[0].name %></h5>
                </a></li>
                <li><a href="bransoletki">
                   <h5 data-toggle="modal" href="bransoletki"><%=categories[1].name %></h5>
                </a></li>
                <li><a href="inne">
                   <h5 data-toggle="modal" href="inne"><%=categories[4].name %></h5>
                </a></li>





                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Gdzie nas znaleść</h4>

                <p><strong>Monache z o.o.</strong>
                    <br>asdasdsa
                    <br>asdas
                    <br>4asdas
                    <br>asdas
                    <br>
                    <strong>Polsza</strong>
                </p>

                <a href="/contact">Strona do kontaktu z nami</a>

                <hr class="hidden-md hidden-lg">

            </div>

                </form>

                <hr>

                <h4>Zostań w kontakcie</h4>

                <p class="social">
                    <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                </p>


            </div>

        </div>


    </div>


<div id="copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="pull-left">© Damian Jąkalski.</p>

        </div>

        </div>
    </div>
</div>



</div>
